<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="DemoQATest">
    <classes>
      <class name="com.tests.DemoQATest"/>
    </classes>
  </test> 
  <test name="AntDemoTest">
    <classes>
      <class name="com.tests.AntDemoTest"/>
    </classes>
  </test> 
  <!-- Tests -->
</suite> <!-- Suite -->
